---
services:
  gatus:
    image: twinproduction/gatus:latest
    restart: unless-stopped
    ports:
      - "127.0.0.1:{{ gatus.port | default(8080) }}:8080"
    volumes:
      - /var/data/containers/gatus/data:/data
      - /var/data/containers/gatus/config/config.yaml:/config/config.yaml:ro
