---
services:
  broker:
    image: docker.io/library/redis:7
    restart: unless-stopped
    volumes:
      - /var/data/containers/paperless-ngx/redis:/data

  db:
    image: docker.io/library/postgres:15
    restart: unless-stopped
    volumes:
      - /var/data/containers/paperless-ngx/db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped
    depends_on:
      - db
      - broker
    ports:
      - "8010:8000"
    volumes:
      - /var/data/containers/paperless-ngx/data:/usr/src/paperless/data
      - /var/data/containers/paperless-ngx/media:/usr/src/paperless/media
      - /var/data/containers/paperless-ngx/export:/usr/src/paperless/export
      - /var/data/containers/paperless-ngx/consume:/usr/src/paperless/consume
    env_file: .env
