#!/bin/bash
set -euo pipefail
DEST={{ dnsmasq_oisd_dest }}
/usr/bin/curl -sSf -R -z "$DEST" -o "$DEST" {{ dnsmasq_oisd_url }}
{% for domain in dnsmasq_oisd_whitelist %}
/usr/bin/sed -i '/{{ domain }}/d' "$DEST"
{% endfor %}
if /usr/sbin/dnsmasq --test; then
    /usr/bin/systemctl restart dnsmasq
else
    echo "ERROR: dnsmasq configuration test failed. Skipping restart." >&2
    exit 1
fi
